* {
	margin: 0;
	padding: 0;
}

*, 
*:before, 
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.artigo {
	background-color: #FFF6F2;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

.fundo-laranja{
	background: #FFA500;
	color: #FFF;
	font-weight: bolder;
	text-align: center;
}

.titulo-pagina {
	text-align: center;
}

.cabecalho-artigo {
	height: 40px;
}

.titulo-artigo {
	color: #F58B11;
	font-size: 1.2em;
	text-align: center;
}

.imagem-artigo {
	margin: 15px auto;
	display: block;
	cursor: pointer;
}

.modal {
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: .6;
	position: absolute;
	top: 0;
}

.foto-modal {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 25%;
	z-index: 1;
}